<br>
<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Join the FUN!</h1>
      <br>
      <div class="row m-4">
        <div class="col-md-12">
          <p class="lead">The beauty of nature doesn’t need to be hard to find. Our goal is simple - build the largest
            collection of
            hand-curated trail guides, so you can explore the outdoors with confidence. Anytime. Anywhere.
          </p>
          <p class="lead">
            The FindYourPeak web application has one main purpose and that is to make life easier for users when it
            comes to exploring new places in our country. The system allows users to organize walks easily through a web
            browser regardless of their current location
            via their mobile phone or computer. Routes with a huge range of outdoor activities can be planned with just
            a few clicks.
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <a [routerLink]="['login']"><button class="btn btn-lg btn-primary m-2 login-btn">Login</button></a>
        <a [routerLink]="['register']"><button class="btn btn-lg btn-warning m-2 register-btn">Register Now</button></a>
      </div>
    </div>
  </div>
</div>
