.btn {
  color: white;
  background-color: #1762A7;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn1 {
  margin-left: 20px;
  color: white;
  background-color: orange;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.buttons {
  position: relative;
  left: 430px;
  top: 40px;
}

.about-us {
  padding: 22px;
}

