//Declared variables
$darkBlue: #0D1634;

.reset-btn {
  color: white;
  background-color: $darkBlue;
  border-color: $darkBlue;
}

.card {
  transform: translate(50%, 30%);
  background-color: rgba($color: white, $alpha: .4);
  border-radius: 8px;
  min-width: 500px;
}

.form-group input {
  outline: none;
  background: none;
  border: 1px solid #2E3852;
  font-size: 1em;
  padding: .5em;
  color: inherit;
  border-radius: 5px;
}
