//Declared variables
$darkBlue: #0D1634;

.login-btn {
  color: white;
  background-color: $darkBlue;
  border-color: $darkBlue;
}

.card a {
  color: $darkBlue;
}

.box{
  transform: translateY(50%);
  text-align: center;
}

.join-the-fun {
  float: left;
}

.card {
  background-color: rgba($color: white, $alpha: .4);
  border-radius: 8px;
  min-width: 500px;
}

.form-group input {
  outline: none;
  background: none;
  border: 1px solid #2E3852;
  font-size: 1em;
  padding: .5em;
  color: inherit;
  border-radius: 5px;
}