<div class="box">
  <div class="col-md-6 join-the-fun">
    <h1>Join the FUN!</h1>
  </div>

  <div class="card w-50 mt-4 mb-4">
    <div class="card-header text-center">
      <h3>Start your adventurous life today!</h3>
    </div>

    <div>
      <div class="col-md-6 offset-md-3 mt-4 mb-4 text-center">
        <form>
          
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              required
              id="registerUsername"
              placeholder="Enter username"
            />
          </div>

          <div class="form-group">
            <input
              type="email"
              class="form-control"
              required
              id="registerEmail"
              placeholder="Enter email"
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              required
              id="registerPassword"
              placeholder="Enter password"
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              required
              id="repeatPassword"
              placeholder="Re-enter password"
            />
          </div>

          <button type="submit" class="btn register-btn">
            Register <i class="fas fa-sign-in-alt"></i>
          </button>

        </form>
      </div>
    </div>
  </div>
</div>
