@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

//variables
$borderRadius: 8px;
//

body {
  font-family: 'Quicksand', sans-serif;
  background-image: url(../src/assets/imgs/wallpaper.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 1110px;
}

.jumbotron {
  background-color: rgba($color: #f8f9fa, $alpha: 0.75);
  border-radius: $borderRadius;
}

.peak-images {
  width: 250px;
  height: 250px;
}

html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
