.left{
    width: 50%;
    height: 312px;
    padding: 55px;
    border-radius: .5rem;
    float: left;
    transform: translate(-30px, 51px);
    color: white;
    background-color: #21213b;
}
h2{
    text-align: center;
    font-size: xx-large;
}
.right{
    width: 50%;
    float: left;
}
img{
    width: 600px;
    height: 412px;
    padding: 50px;
}

