<br>
<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Find Your Peak!</h1>
      <br>
      <div class="row">
        <div class="col-md-6">
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Exercitationem cum sint fuga dignissimos illum voluptatum qui dicta corrupti delectus, aspernatur maiores?
             Officiis officia repellendus voluptate nisi, quod laboriosam nobis id.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe praesentium iste quibusdam amet quis
             rerum commodi quod facere quam, sunt officiis officia quo voluptates dignissimos! Nam similique inventore quos harum!
          </p>
        </div>
        <div class="col-md-6 text-center">
          <img class="peak-images" src="../../assets/imgs/placeholder.jpg">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    
  </div>
</div>