<div class="card w-50 mt-4 mb-4">
  <div class="card-header text-center">
    <h3>Reset your password</h3>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-4 mb-4 text-center">
      <form>
        <div class="form-group">
          <label for="resetPasswordEmail">We will send a link to your email</label>
          <input
            type="email"
            class="form-control"
            required
            id="resetPasswordEmail"
            placeholder="Enter email"
          />
        </div>

        <button type="submit" class="btn btn-success">
          Reset <i class="fas fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </div>
</div>
