//Declared variables
$orange: orange;

//Activity Images
.activity-image {
  margin: 15px;
  width: 350px;
  height: 350px;
  border-radius: 4px;
  border: 2px solid $orange;
  cursor: pointer;
}

.btn-warning {
  color: white;
  background-color: $orange;
  border-color: $orange;
}

.picture-container {
  margin-left: -20px; //TODO this is terrible, find a bootstrap fix for this
}

